.nav-tab {
    background-color: #0d0d0d;
}

body {
    background-color: #0d0d0d;
}

i {
    cursor: pointer;
}

.side-nav-menu {
    z-index: 99;
    position: relative;
}
.logo {
    width: 50px;
}
.list-unstyled li,
.icons i,
.footer p {
    color: aliceblue;
}
.list-unstyled li {
    cursor: pointer;
}

#closeBtn {
    display: none;
}
